*{
  padding: 0;
  margin: 0;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: rgb(159, 225, 245);
  background-size: cover;
  background-repeat: no-repeat;
}

.banner{
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
 }
 
 .banner img{
   width: 250px;
   padding-right: 4px;
   -webkit-user-drag: none;
 }
 

/* Div som fyller hele siden*/
.whole_page{
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
}


/*Boks med Spillboks og xpbar inni seg*/
.game_box{
  width: 500px;
  height: 700px;
  margin: auto;
  display: grid;
  filter: drop-shadow(.65em .65em .7em);
  margin-top: 75px;

}


/* Spill boksen */
.content{
  width: 500px;
  height: 600px;
  background-color: rgb(245, 146, 33);
  margin: auto;
  display: grid;
  border-radius: 5%;
  border: solid 3px black;

}


/*Xp-bar*/
.xpbar_max{
  width: 400px;
  height: 30px;
  background-color: gray;
  margin: auto;
  margin-top: -5px;
  border: solid 2px black;
}
.xpbar{
  width: 0%;
  height: 100%;
  background-color: green;
}


/*Boksen som oppgavebildene skal ligge i*/
.oppg_img_div{
  width: 350px;
  height: 350px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  display: grid;
  border: solid 2px black;

}

/*Oppgavebildet*/
.oppg_img_div img{
  width: 220px;
  height: 280px;
  margin: auto;
  -webkit-user-drag: none;
}


/*Svarboks i spillboksen*/
.svar_input{
  margin: auto;
  width: 400px;
  height: 100px;
  font-size: 80px;
  text-align: center;
}

.check_btn{
  width: 250px;
  height: 50px;
  background-color: rgb(240, 90, 90);
  margin: auto;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}


/*Hele prize box*/
.whole_prize_box{
  width: 645px;
  height: 553px;
  margin: auto;
  display: grid;
  filter: drop-shadow(.65em .65em .7em);
  margin-top: 90px;
  margin-left: -120px;

}

.top_prize_box{
  width: 100%;
  height: 50px;
  background-color: rgb(245, 146, 33);
  border: 1px black solid;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 2px solid black;
  border-bottom: none;
}

.top_prize_box p{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}


/*Stedet for premiene dine lagres*/
.prize_box{
  background-image: url('Bilder/paper.jpg');
  width: 100%;
  height: 500px;
  display: grid, inline-grid;  
  border: 2px black solid;
  overflow-y:scroll; height:500px;
}

::-webkit-scrollbar {
  display: none;
}


.stamp_block{
  width: 150px;
  height: 180px;
  background-image: url('Bilder/stamp.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  float: left;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 10px;
}
.prize_img{
  width: 120px;
  height: 160px;
  margin-left: 10px;
  -webkit-user-drag: none;
}


.gift_img{
  width: 400px;
  height: 400px;
  animation: shake 1s;
  animation-iteration-count: infinite;
  position: absolute;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 40px;
  -webkit-user-drag: none;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-1px, -2px) rotate(-1deg); }
  40% { transform: translate(-3px, 0px) rotate(1deg); }
  60% { transform: translate(3px, 2px) rotate(0deg); }
  80% { transform: translate(1px, -1px) rotate(1deg); }
}

@media only screen and (min-width: 900px) and (max-width: 1300px){

  .whole_prize_box{
    margin: auto;
    width: 490px;
    margin-right: 150px;
    margin-top: 15px;
  }
  .game_box{
    margin: auto;
  }
}


@media only screen and (max-width: 900px){
  .whole_page{
    grid-template-columns: 100%;
  }

  .game_box{
    margin: auto;
  }

  .whole_prize_box{
    margin: auto;
    height: 300px;
  }

  .prize_box{
    height: 300px;
    overflow-y:scroll; height:300px;
  }

  html, body{
    background-image: none;
    background-color: rgb(160, 211, 240);
  }
}