
.banner{
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
}

.mini_bilde{
  position: absolute;
  right: 0;
  top: 80px;
  width: 250px;
  margin-right: 50px;
}


.bamse_1{
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.bamse_2{
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.bamse_3{
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bamse_4{
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}


.meny{
  max-width: 100vw;
}

.meny ul{
  display: flex;
  margin: auto;
  margin-top: 10px;
  list-style-type: none;
  color: rgb(0, 0, 0);
  width: 500px;
  height: 25px;
  border-radius: 30px;
  border: 2px solid rgb(0, 0, 0);
}

.meny li{  
  margin: auto;
  font-size: 18px;
  padding: 2px;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
}

.meny li:hover{
  text-decoration: underline;
}



.nytt{
  width: 600px;
  height: 300px;
  margin: auto;
  display: flex;
  border: 2px solid black;
  margin-top: 0px;
  background-color:lightgrey
}

.nytt article{
  margin: auto;
  display: grid;
  height: 100%;
}

.nytt article h1{
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
}

.nytt article p{
  margin: auto;
  margin-top: 20px;
  font-size: 15px;
  width: 90%;
}

.nytt img{
  margin: auto;
  height: 90%;
  border-radius: 30px;
  margin-left: 10px;
}



.overskrift{
  width: 100vw;
  text-align: center;
  margin: auto;
}

.overskrift h1{
  font-size: 120px;
  color: rgb(175, 5, 5);
  font-family: 'Gabriola';
}

.overskrift h2{
  font-size: 30px;
  color: rgb(175, 5, 5);
  margin-bottom: 50px;
}

.overskrift .line{
  width: 320px;
  height: 5px;
  margin: auto;
  background-color: rgb(175, 5, 5);
  margin-top: -30px;
  margin-bottom: 30px;
}

.banner button{
  width: 120px;
  height: 45px;
  border-radius: 30px;
  background-color: rgb(175, 5, 5);
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  border: none;
  margin: auto;
  cursor: pointer;
  margin: auto;
}

.overskrift button:hover{
  background-color: #da2a73;
}