

.content_1{
  background-color: whitesmoke(255, 255, 255);
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  display: grid;
}


.content_1 h1{
  font-size: 60px;
  margin: auto;
}

.content_1 p{
  font-size: 20px;
  width: 50vw;
  margin: auto;
  text-align: center;
  margin-top: -50px;
}

.content_1 .line{
  width: 350px;
  height: 5px;
  margin: auto;
  background-color: #db0b62;
  margin-top: 10px;
}

.dikt_container{
  width: 95vw;
  display: flex;
  flex-flow: row wrap;
  margin-top: -150px;
}

.content_1 img{
  width: 350px;
  height: 400px;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 40px;
  border: #db0b62 solid 4px;
}

.content_1 img:hover{
  transform: scale(1.02);
}

.content_1 button{
  width: 150px;
  height: 55px;
  margin: auto;
  border-radius: 50px;
  background-color: #db0b62;
  font-size: 18px;
  color: whitesmoke;
  text-align: center;
  border: none;
  cursor: pointer;
}
.content_1 button:hover{
  background-color: #da2a73;
}


.content_2{
  width: 100vw;
  height: 90vh;
  display: none;
}