

.footer{
  width: 100vw;
  height: 10vh;
  background-color: black;
  display: flex;
}

.footer p{
  user-select: none;
}

.footer button{
  margin: auto;
  background-color: transparent;
  color: white;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

.footer button img{
  margin: auto;
  width: 50px;
  height: auto;
}



.footer div{
  width: 300px;
  display: flex;
  margin: auto;
}