@import "header.css";
@import "blogg.css";
@import "home.css";
@import "about.css";
@import "mobile.css";

*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  image-rendering: -webkit-optimize-contrast;
  -webkit-user-drag: none;
}


