@media only screen and (max-width: 1000px){
    /*Dikt*/
    .dikt_content{
      width: 100%;
      justify-content:space-around;
    } 
}  
  
@media only screen and (max-width: 800px){  
  /*Banner*/


  .menu_btn{
    display: flex;
  }

  .overskrift_logo{
    margin-left: 10px;
  }


  .contact_top{
    display: none;
  }

  .dropdown{
    display: none;
  }

  .dropdown.active{
    display: flex;
    width: 100vw;
  }


  nav{
    flex-direction: column;
    align-items: flex-start;
  }

  .first_ul li{
    width: 100vw;
  }

  nav ul{
    flex-direction: column;
    width: 100vw;
    text-align: center;
  }

  nav ul li a{
    line-height: 40px;
    height: 40px;
  }












  /*Om meg*/
  .container h1{
    font-size: 35px;
  }
  
  .container h2{
    font-size: 25px;
  }
  
  .container p{
    font-size: 23px;
    width: 80%;
    text-align: center;
  }
  
  .container img{
    width: 300px;
  }


  .bkground{
    background-image: url("Bilder/Om meg/lys_bk.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /*Slider*/
  .img_slider{
    width: 300px;
    height: 300px;
  }
  .slides{
    height: 300px;
  }
  .slide img{
    width: 300px;
    height: 300px;
  }
  .navigation-manual{
    width: 300px;
    margin-top: -50px;
  }
  .navigation-auto{
    width: 300px;
    margin-top: 250px;
  }


  /*Blogg*/
  .blog_content{
    width: 95%;
    margin: auto;
  }

  .blogg_topp{
    margin-bottom: 50px;
  }

  .post .text{
    font-size: 20px;
  }

  .post h1{
    font-size: 30px;
  }
}

@media only screen and (max-width: 650px){  
  .big_dikt img{
    width: 95vw;
    height: auto;
  }

  /*Forside*/
  .content{
    width: 90vw;
    margin: auto;
  }
  .div_row1{
    margin: auto;
    width: 100%;
  }
  .div_row1 a img{
    height: auto;
  }
  .div_row1 a p{
    background: rgba(59, 59, 59, 0.7);
    position: relative;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: -53px;
    font-size: 1.1rem;
    user-select: none;
    transition: 0.2s;
  }
  .div_row1 a:hover p{
    height: 80px;
    line-height: 80px;
    margin-top: -83px;
    font-size: 1.4rem;
    transition: 0.2s;
  }
  .div_row2{
    display: grid;
    margin: auto;
    justify-content:space-around;
    width: 100%;
  }
  .div_row2 a{
    margin-top: 50px;
    width: 100%;
    height: auto;
  }

  .div_row3{
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
  .div_row3 h3{
    display: none;
  }
  .div_row3 button{
    margin: auto;
    height: 40px;
  }
}

@media only screen and (max-width: 450px){
    .div_overskrift h1{
      font-size: 3rem;
      font-weight: normal;
    }
    .div_overskrift p{
      font-size: 0.8rem;
      color: rgb(172, 172, 172);
      text-transform: uppercase;
    }
}  