@import url("animation.css");


.about-me-page{
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color-2);
  color:var(--text-color);
  display: flex;
  font-family: var(--main-text-font);
  position: relative;
  z-index: 1;
}




.dymatic-text{
  display: flex;
  position: relative;
}

.dymatic-text div{
  font-size: 2rem;
  
}

.dymatic-text ul{
  margin: auto;
  margin-left: 10px;
  height: 45px;
  overflow: hidden;
  margin-top: -3px;
  justify-content: center;
}

.dymatic-text ul li{
  list-style: none;
  color: var(--grid-light);
  
  font-size: 2rem;
  position: relative;
  animation: sliding 9s steps(3) infinite;
  line-height: 45px;
  top: 0;
}

.dymatic-text ul li::after{
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid var(--text-color);
  background-color: var(--bg-color-2);
  animation: typing 3s steps(12) infinite;
}



.about-me-page article{
  margin: auto;
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
  gap: 100px;
  

}

.about-me-text-wrapper{
  width: auto;
  height: fit-content;
  display: grid;
  row-gap: 50px;
}

.about-me-page article h1{
  font-size: 2.4rem;
  color:var(--text-color);
  font-weight: normal;
}

.about-me-page article h1::after{
  content: 'Kristoffer Kirkerød';
  color: var(--grid-light);
}

.about-me-page article p{
  font-size: 1.4rem;
  color:var(--text-color);
  font-weight: normal;
  line-height: 40px;
}

.about-me-image-wrapper{
  width: 650px;
  height: 400px;
  background-color: var(--bg-color-2);
  position: relative;
  display: flex;

}

.about-me-image-wrapper img{
  margin: auto;
  width: 80%;
  height: 80%;
}



.about-me-image-wrapper::after{
  content: '';
  width: 150px;
  height: 150px;
  background-color: var(--grid-light);
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
}

.about-me-image-wrapper::before{
  content: '';
  width: 150px;
  height: 150px;
  background-color: var(--grid-light);
  position: absolute;
  left: -5px;
  bottom: -5px;
  z-index: -1;
}