


.info-page{
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-col);
  margin: auto;
  display: flex;
}


.info-page-containter{
  width: 1000px;
  height: auto;
  display: flex;
  margin: auto;
  gap: 50px;
}


.info-page-containter img{
  height: 450px;
  width: auto;
  margin: auto;
}


.info-right-box{
  margin: auto;
  display: grid;
  height: 440px;
  max-width: 500px;
}

.text-box{
  margin: auto;
  display: block;
}

.text-box h1{
  font-family: var(--text-type);
  font-size: 1.7rem;
  box-shadow: 0px 1px 0 var(--main-color);
  line-height: 23px;
  margin-bottom: 5px;
  display: inline-block; 
}

.text-box p{
  font-family: var(--main-text-font);
  font-size: 1rem;
  padding-top: 10px;
  margin-left: 0px;
}


.text-header{
  font-size: 3rem;
  width: auto;
  font-family: var(--text-type);
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
  box-shadow: 0px 3px 0 var(--main-color);
}
