


.info-page{
  width: 1000px;
  min-height: 80vh;
  margin: auto;
  margin-top: 100px;
  margin-bottom: -250px;
  display: flex;
  flex-wrap: nowrap;
  
}


.info-page-containter{
  width: 1000px;
  height: auto;
  display: flex;
  margin: auto;
  gap: 50px;
}


.info-page-containter img{
  height: 450px;
  width: auto;
  margin: auto;
}


.info-right-box{
  margin: auto;
  display: grid;
  height: 440px;
  max-width: 500px;
}

.text-box{
  margin: auto;
  display: block;
  color: var(--color-3);
  text-align: left;
}

.text-box h1{
  font-family: var(--text-type);
  font-size: 1.7rem;
  box-shadow: 0px 1px 0 var(--color-3);
  line-height: 23px;
  margin-bottom: 15px;
  display: inline-block; 
}

.text-box p{
  font-family: var(--main-text-font);
  font-size: 1rem;
  padding-top: 0px;
  margin-left: 0px;
  color: var(--color-4);
  line-height: 20px;
}


.shadow-1{
  box-shadow: 10px 10px 0 var(--color-3);
}

.shadow-2{
  box-shadow: -10px 10px 0 var(--color-3);
}


@media screen and (max-width: 1400px){
  .info-page{
    width: 700px;
    margin-bottom: -220px;;
  }

  .info-page-containter{
    width: 700px;

  }

  .info-page-containter img{
    height: 350px;
  }

  .text-box h1{
    font-size: 1.3rem;
  }

  .text-box p{
    font-size: 0.9rem;
    padding-bottom: 30px;
  }

}