

.banner-body{
  width: fit-content;
  height: 60px;
  background-color: transparent;
  display: flex;
  position: absolute;
  right: 50px;
}


.menu_logo{
  width: auto;
  height: 60%;
  margin: auto;
  cursor: pointer;
  border-radius: 10%;
  display: none;
  transition: background-color .2s linear, transform .2s linear;
}

.banner-body .menu_logo:hover{
  background-color: var(--grid-light);
  
}

.banner-body ul{
  margin: auto;
  width: fit-content;
  display: flex;
  color: white;
  height: 100%;
  gap: 40px;
  
}

.banner-body ul li{
  margin: auto;
  cursor: pointer;
  list-style: none;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 7px;
  width: fit-content;
  transition: color .2s linear, text-underline-offset 0.2s linear;
}

.banner-body ul li:hover{
  color: var(--grid-light);
  text-underline-offset: 12px;
}



/*Nav bar 1*/
@media only screen and (max-width: 1000px){  
  .menu_logo{
    display: block;
    margin-right: 10px;
  }

  .banner-body ul{
    display: grid;
    height: 50%;
    right: 0px;
    margin-top: 60px;
    width: 0px;
    position: absolute;
    background-color: rgb(34, 34, 34);
    transition: width .1s linear;
  }

  .banner-body.active .menu_logo{
    transform: rotate(90deg);
  }

  .banner-body.active ul{
    width: 100px;
  }
}
