

.banner-body{
  width: 500px;
  height: 50px;
  background-color: var(--bg-col);
  display: flex;
  position: fixed;
  top: 10px;
  z-index:1;
  font-size: 1.3rem;
  border: var(--main-color) 1px solid;
  border-radius: 20px;
  right: 10px;
}

.banner-body ul{
  margin: auto;
  width: 500px;
  display: flex;
  color: white;
  height: 100%;
  margin-right: 7px;
}

.banner-body ul li{
  margin: auto;
  cursor: pointer;
  list-style: none;
  text-decoration: underline;
  text-underline-offset: 7px;
  transition: .1s linear;
}

.banner-body ul li:hover{
  color: var(--main-color);
  text-underline-offset: 12px;
}

.banner-body ul li a{
  text-decoration:none;
  color: white;
}

.banner-body ul li a{
  color: red;
}

.banner-body ul li a:hover{
  color: var(--main-color);
}


.button-box{
  width: auto;
  height: 100%;
  margin: auto;
  margin-right: 7px;
  display: flex;
  gap: 10px;
  background-color: red;
}


.banner-body .menu_logo{
  width: auto;
  height: 60%;
  margin: auto;
  cursor: pointer;
  border-radius: 10%;
  display: none;
  transition: .1s linear;
}

.banner-body .menu_logo:hover{
  background-color: var(--main-color);
  
}


