@import url("banner.css");
@import url("landing.css");
@import url("about.css");



*{
  margin: 0; padding: 0;
  outline: none; border: none;
  font-family: 'Roboto', sans-serif;
}

img{
  image-rendering: optimizeQuality;
}

:root {

  --bg-color: rgb(33, 35, 38);
  --bg-color-2: rgb(22, 24, 26);
  --grid-light: #00bfff;

  --text-type: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --main-text-font: Arial;
  --text-color: white;

  --font-size-p: 1.5rem;
  --font-size-h1: 2.5rem;
  --text-line-height: 33px;
}

body{
  background-color: var(--bg-color);
  overflow-x: hidden;
}

















