


.landing-page{
  width: 100%;
  min-height: 100vh;
  display: grid;
  background-color: var(--bg-col);
}

.landing-page-containter{
  width: 850px;
  height: auto;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 50px;
}

.landing-page img{
  width: 275px;
  height: 275px;
  margin: auto;
}

.landing-page-text-box{
  margin: auto;
  background-color: var(--bg-col);
  box-shadow: 3px -3px 0 var(--main-color);
  padding: 30px;
  padding-right: 80px;
}

.landing-page-text-box h1{
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: var(--text-type)
}

.landing-page-text-box p{
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 20px;
}



