

.fav_div{
  display: grid;
  margin: auto;
  height: 400px;
  width: 250px;
}

.frame_div{
  margin: auto;
  width: 100%;
  height: 200%;
  background-image:url('Bilder/frame.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  margin-top: -55px;
}

.fav_img{
  height: 185px;
  width: 185px;
  image-rendering: smooth;
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
}

.fav_div p{
  font-size: 35px;
  text-align: center;
  margin: auto;
  margin-top: -60px;
}

.badge_img{
  width: 239px;
  height: 135px;
  margin: auto;
  margin-top: 90px;
}
