/* --------------------  BANNER  ----------------------------- */

.banner{
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
}
 
.logo_img{
  width: 250px;
  padding-right: 4px;
  -webkit-user-drag: none;
}

.banner select{
  width: 201px;
  height: 40px;
  margin: auto;
  margin-left: 10px;
}

.region_btn_div{
  width: 100%;
  height: 45px;
  margin: auto;
  display: grid;
  grid-template-columns: 32% 78% ;
  margin-top: -85px;
}

.region_btn_div h1{
  width: 250px;
  height: 115px;
  text-align: center;
  margin: auto;
  margin-right: 0;
  margin-top: 40px;
  border: 2px solid black;
  background-color: #fb6868;
}

.region_btn_div div{
  margin: auto;
  width: 1000px;
  display: flex;
  margin-left: 0;
}

.region_btn{
  width: 200px;
  height: 200px;
  border-radius: 45%;
  margin: auto;
  cursor: pointer;
  background-color: rgb(95, 95, 95);
  border: 2px solid rgb(255, 0, 0);
}

.region_btn:hover{
  transform: scale(1.1)
}

.region_btn img{
  width: 90%;
  height: 90%;
  image-rendering: smooth;
  opacity: 20%;
}

.region_btn p{
  font-size: 30px;
  margin-top: 15px;
}


.settings_btn{
  width: 45px;
  height: 45px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  border-radius: 40px;
  float: right;
  cursor: pointer;
  background-color: rgb(90, 90, 90);
}

.settings_btn img{
  width: 100%;
  height: 100%;
  margin: auto;
}




.settings_page{
  position: absolute;
  align-self: right;
  width: 300px;
  height: 233px;
  right: 0px;
  background-color: rgb(90, 90, 90);
  border-left: 1px black solid;
  visibility: hidden;
  z-index: 2;
}

.settings_page h1{
  color: white;
  text-align: center;
  margin-top: 5px;
}


.sprites_change{
  width: 100%;
  border-bottom: solid white 1px;
  border-top: solid white 1px;
  font-size: 18px;
  color: white;
  display: grid;
  text-align: center;
  padding-bottom: 5px;
  margin-top: 20px; 
}

.sprites_change img{
  width: 130px;
  margin: auto;
  cursor: pointer;
}

.sprites_change2{
  width: 100%;
  border-bottom: solid white 1px;
  font-size: 18px;
  color: white;
  display: grid;
  grid-template-columns: 60% 30%;
  text-align: center;
  padding-bottom: 5px;
  margin-top: 6px; 
}

.sprites_change2 img{
  width: 50px;
  margin: auto;
  border: 1px white solid;
  border-radius: 30px;
  cursor: pointer;
}

.sprites_change2 p{
  margin: auto;
  margin-left: 30px;
}

@media only screen and (max-width: 1200px){
  .region_btn_div{
    transform: scale(0.7);
    margin-top: -50px;
    margin-left: -100px;
  }
}

@media only screen and (max-width: 700px){
  .banner{
    display: flex;
  }

  .banner select{
    width: 120px;
    margin: auto;
    margin-left: 3px;
  }

  .region_btn_div{
    display: grid;
    grid-template-columns: 100%;
    margin-left: -200px;
  }

  .region_btn_div div{
    display: flex;
    transform: scale(0.5);
    margin: auto;
    margin-top: -50px;
    background-color: aqua;
  }

  .region_btn_div h1{
    margin: auto;
    margin-bottom: 10px;
    visibility: hidden;
  }

}