/* --------------------  BANNER  ----------------------------- */

.banner{
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
}
 
.logo_img{
  width: 250px;
  padding-right: 4px;
  -webkit-user-drag: none;
}

.banner select{
  width: 201px;
  height: 40px;
  margin: auto;
  margin-left: 10px;
  margin-right: 50px;
}

.region_btn_div{
  width: 300px;
  height: 45px;
  margin: auto;
  margin-left: 0px;
  display: flex;
  border: white 1px solid;
}

.region_btn_div p{
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: auto;
}

.region_btn{
  width: 50px;
  height: 100%;
  border-radius: 40%;
  margin: auto;
  cursor: pointer;
  background-color: rgb(95, 95, 95);
  border: 2px solid rgb(255, 0, 0);
}

.region_btn img{
  width: 100%;
  height: 100%;
  image-rendering: smooth;
  opacity: 20%;

}


.settings_btn{
  width: 45px;
  height: 45px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  border-radius: 40px;
  float: right;
  cursor: pointer;
  background-color: rgb(90, 90, 90);
}

.settings_btn img{
  width: 100%;
  height: 100%;
  margin: auto;
}


.settings_page{
  position: absolute;
  align-self: right;
  width: 300px;
  height: 233px;
  right: 0px;
  background-color: rgb(90, 90, 90);
  visibility: hidden;
  border-left: 1px black solid;
}

.settings_page h1{
  color: white;
  text-align: center;
  margin-top: 5px;
}


.sprites_change{
  width: 100%;
  border-bottom: solid white 1px;
  border-top: solid white 1px;
  font-size: 18px;
  color: white;
  display: grid;
  text-align: center;
  padding-bottom: 5px;
  margin-top: 20px; 
}

.sprites_change img{
  width: 130px;
  margin: auto;
  cursor: pointer;
}

.sprites_change2{
  width: 100%;
  border-bottom: solid white 1px;
  font-size: 18px;
  color: white;
  display: grid;
  grid-template-columns: 60% 30%;
  text-align: center;
  padding-bottom: 5px;
  margin-top: 6px; 
}

.sprites_change2 img{
  width: 50px;
  margin: auto;
  border: 1px white solid;
  border-radius: 30px;
  cursor: pointer;
}

.sprites_change2 p{
  margin: auto;
  margin-left: 30px;
}

@media only screen and (max-width: 700px){
  .banner{
    display: flex;
  }

  .logo_img{
    visibility: hidden;
    position: absolute;
  }

  .banner select{
    width: 100px;
    margin: auto;
    margin-left: 3px;
  }

  .region_btn_div{
    width: 180px;
    border: none;
  }

  .region_btn_div p{
    visibility: hidden;
    position: absolute;
  }
}