@import "header.css";
@import "matte_boks.css";
@import "pokedex.css";
@import "favoritt.css";
@import "regions.css";

*{
  margin: 0;
  padding: 0;
  font-family: roboto;
  user-select: none;
}

.whole_page{
  width: 100vw;
  height: 80vh;
  background-color: rgb(255, 255, 255);
}

.whole_game{
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 30px;
}



