@import "header.css";
@import "matte_boks.css";
@import "pokedex.css";
@import "favoritt.css";
@import "regions.css";


*{
  margin: 0;
  padding: 0;
  font-family: roboto;
  user-select: none;
}

* img{
  -webkit-user-drag: none;
}

.body{
  background-color: rgb(233, 233, 233);
}

.whole_page{
  width: 100vw;
  height: auto;
}

.whole_game{
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 30px;
}


@media only screen and (max-width: 1000px){
  .whole_game{
    display: grid;
  }

  .math_box{
    margin: auto;
  }

  .pokedex_box{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .fav_div{
    margin: auto;
  }

  .region_btn_div{
    margin-top: 30px;
    font-size: 13px;
  }
  
  .region_btn_div div{
    width: 410px;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 35px;
  }
}




@media only screen and (max-width: 500px){
  .whole_page{
    transform: scale(0.7);
    height: 500px;
  }

  .whole_game{
    margin-top: -40px;
  }


  .banner select{
    width: 100px;
    margin: auto;
    margin-left: 3px;
  }
  
}
