

.region_btn_div{
  width: 100%;
  height: 45px;
  margin: auto;
  display: grid;
  margin-top: 10px;
}

.region_btn_div h1{
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border-bottom: 2px solid black;
}

.region_btn_div div{
  margin: auto;
  width: 1000px;
  display: flex;
  margin-top: 10px;
}

.region_btn{
  width: 200px;
  height: 200px;
  border-radius: 45%;
  margin: auto;
  cursor: pointer;
  background-color: rgb(95, 95, 95);
  border: 2px solid rgb(255, 0, 0);
}

.region_btn:hover{
  transform: scale(1.05)
}

.region_btn img{
  width: 90%;
  height: 90%;
  image-rendering: smooth;
  opacity: 20%;
}

.region_btn p{
  font-size: 30px;
  margin-top: 15px;
}
