


.whole_page2{
  width: 100vw;
  height: 100vh;
  background-image: url('Bilder/bk.png');
  background-size: cover;
  display: flex;
  grid-template-columns: 25% 50% 25%;
  
}

.dex_div{
  width: 1000px;
  display: grid;
  margin: auto;
  margin-top: 40px;
}

.nat_dex_nr{
  text-align: center;
  font-size: 50px;
  margin: auto;
  margin-top: 0px;
  border: 5px solid black;
  width: 850px;
  padding-bottom: 10px;
  background: #e77070;
}


.wholepokedex{
  width: 850px;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  row-gap: 10px;
  margin: auto;
  margin-top: -5px;
  border: 5px solid #000000;
  background: #d3d3d3;
  overflow-y:scroll; height:75vh;
}
::-webkit-scrollbar {
  display: none;
}

.pkmn_img_none{ /*original scale: 96x96*/
  height: calc(128*0.8px);
  width: calc(128*0.8px);
  image-rendering: smooth;
  margin: auto;
  filter: contrast(0) sepia(100%) hue-rotate(0deg) saturate(0%) brightness(30%);
  pointer-events: none;
}

.all_badge_div{
  display: grid;
  width: 100%;
  height: 80%;
  margin: auto;
}

.all_badge_div img{
  margin: auto;
}

@media only screen and (max-width: 1350px){
  .nat_dex_nr{
    width: 550px;
    font-size: 40px;
  }
  
  
  .wholepokedex{
    width: 550px;
    grid-template-columns: auto auto auto auto;
    overflow-y:scroll; height:75vh;
  }
}

@media only screen and (max-width: 1000px){
  .whole_page2{
    display: grid;
    grid-template-columns: auto;
  }
  .all_badge_div{
    visibility: hidden;
    display: none;
  }

  .dex_div{
    width: 550px;
  }
}

@media only screen and (max-width: 700px){
  .nat_dex_nr{
    font-size: 30px;
    text-align: center;
    width: 100%;
  }

  .dex_div{
    width: 90vw;
  }
  
  
  .wholepokedex{
    width: 100%;
    grid-template-columns: auto auto auto;
    overflow-y:scroll; height:75vh;
  }
}