@import "style.css";


.knapp_div_part{
  width: 60.5%;
}

.knapp{
  margin-top: 20px;
}

.pokemon_box{
  width: 100vw;
  height: 100vh;
  margin-top: 5vh;
}

@media only screen and (min-width: 700px){

  .knapp_div_part{
    width: 44%;
  }

}