/*Banner*/
.banner-body{
  width: 100%;
  height: 60px;
  background-color: rgb(51, 51, 51);
  display: flex;
  position: fixed;
}



.logo-box{
  cursor: pointer;
  width: 190px;
  height: 100%;
  display: flex;
  margin: auto;
  margin-left: 15px;
}


.logo-box .logo{
  height: 80%;
  width: auto;
  margin: auto;
  user-select:none;
  -webkit-user-drag: none;
}

.logo-box p{
  color: var(--text-color-1);
  font-size: 2.2rem;
  margin: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  user-select:none;
}

.button-box{
  width: auto;
  height: 100%;
  margin: auto;
  margin-right: 7px;
  display: flex;
  gap: 10px;
}



.banner-body .menu_logo{
  width: auto;
  height: 60%;
  margin: auto;
  cursor: pointer;
  border-radius: 10%;
  display: none;
}

.banner-body .menu_logo:hover{
  background-color: var(--main-color);
  
}

.banner-body ul{
  margin: auto;
  width: 400px;
  display: flex;
  color: white;
  height: 100%;
  
}

.banner-body ul li{
  margin: auto;
  cursor: pointer;
  list-style: none;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.banner-body ul li:hover{
  color: var(--main-color);
  text-underline-offset: 12px;
}



/*Nav bar 1*/
@media only screen and (max-width: 1000px){  
  .banner-body .menu_logo{
    display: block;
  }

  .banner-body ul{
    display: grid;
    height: 300px;
    right: 0px;
    margin-top: 60px;
    width: 0px;
    position: absolute;
    background-color: rgb(34, 34, 34);
    transition: none;
  }

  .banner-body.active .menu_logo{
    transform: rotate(90deg);
  }

  .banner-body.active ul{
    width: 100px;
    transition: .1s linear;
  }
}