


.landing-page{
  width: 100%;
  min-height: 100vh;
  display: grid;
}

.landing-page-containter{
  width: 1050px;
  height: auto;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 50px;
}

.landing-page img{
  width: 300px;
  height: 300px;
  margin: auto;
}

.landing-page-text-box{
  margin: auto;
  background-color: var(--bg-col);
  box-shadow: 5px -5px 0 var(--main-color);
  padding: 40px;
  padding-right: 100px;
}

.landing-page-text-box h1{
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: var(--text-type)
}

.landing-page-text-box p{
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 20px;
}



