



.utdanning-page{
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-col);
  display: grid;
}


.utdanning-header{
  font-size: 3rem;
  width: auto;
  font-family: var(--text-type);
  margin: auto;
  padding: 5px;
  margin-top: 100px;
  box-shadow: 0px 5px 0 var(--main-color);
  padding: 20px;
  padding-top: 10px;
  box-shadow: 5px 5px 0 var(--main-color);
}

.utdanning-page-containter{
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  row-gap: 50px;
}


.utdanning-card{
  width: 300px;
  height: 480px;
  margin: auto;
  border: 1px solid var(--main-color);
  box-shadow: 7px 7px 0 var(--main-color);
  background-color: var(--bg-col2);
  display: grid;
  grid-template-rows: 100px auto auto 1fr;
  row-gap: 10px;
}



.utdanning-card img{
  width: 20%;
  margin: auto;
  margin-top: 10px;
}


.utdanning-card-header{
  margin: auto;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}

.utdanning-card h2{
  width: 100%;
  line-height: 100%;
  margin: auto;
  text-align: center;
}

.utdanning-card-year{
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0;
}

.utdanning-card-info{
  padding: 15px;
  margin: auto;
  max-width: 90%;
  font-size: 0.8rem;
}

.utdanning-card ul{
  width: auto;
  display: flex;
  flex-direction: column;
  height: 300px;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 20px;
}

.utdanning-card li{
  margin-left: 0;
  display: flex;
  margin-left: 20px;
  font-size: 0.8rem;
}


.utdanning-card li img{
  width: 13px;
  height: 13px;
  margin: auto;
  margin-right: 10px;
}

.utdanning-card li p{
  width: 100%;
}
