

.container{
  width: 100vw;
  height: 94vh;
  display: grid;
  background-image: -webkit-linear-gradient(75deg, #54ca5a 50%, #ebebeb 50%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container h1{
  color: #398f51;
  font-size: 4rem;
  margin: auto;
  font-weight: 700;
  
}

.container h2{
  color: #777;
  margin: auto;
  font-size: 3rem;
  font-weight: 400;
  margin-top: -20px;
}

.container p{
  color: #fff;
  margin: auto;
  font-size: 2rem;
  margin-top: -80px;
}

.container img{
  width: 400px;
  margin: auto;
  margin-top: -80px;
}