

.link_buttons{
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.link_buttons div{
  display: grid;
  margin: auto;
}

.link_buttons div img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.link_buttons div:hover{
  transform: scale(1.03);
}

.link_buttons div p{
  text-align: center;
  font-size: 1.6rem;
}


/*IPAD*/
@media only screen and (max-width: 1300px){  

  .link_buttons{
    width: 100vw;
    margin-top: 0px;
  }

  .link_buttons div img{
    width: 280px;
    height: 280px;
  }
}


@media only screen and (max-width: 900px){  

  .link_buttons{
    width: 100vw;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .link_buttons div img{
    max-width: 450px;
    width: 80vw;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    object-position: 50% 45%;
  }
}
