

.front_page{
  width: 100vw;
  background-color: whitesmoke;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.front_page_img{
  background-image: url("Bilder/wellness-g62f67a13c_1920.jpg");
  width: 100vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: 100%;
  filter: brightness(70%);
  position: absolute;
  left: 0;
  background-size: 100% 180%;
}

.front_page_text_div{
  width: 80vw;
  height: 60vh;
  margin: auto;
  display: grid;
  margin: auto;
  position: relative;
}

.front_page_text{
  margin: auto;
  width: 80vw;
  display: grid;
  height: 40vh;
}

.front_page_text h1{
  margin: auto;
  font-size: 4rem;
  color: white;
  text-align: center;
}

.front_page_text p{
  margin: auto;
  font-size: 1.6rem;
  color: white;
  text-align: center;
}

.front_page_text button{
  width: 180px;
  height: 60px;
  margin: auto;
  border: none;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 50px;
}

@media only screen and (max-width: 1300px){  
  .front_page_img{
    height: 55vh;
    background-size: 100% 140%;
  }
}

@media only screen and (max-width: 990px){ 
  .front_page_img{
    width: 100vw;
    height: 50vh;
    background-size: 100% 130%;
    display: grid;
  }
  
  .front_page_text_div{
    width: 90vw;
    height: 60vh;
    margin: auto;
    display: grid;
  }
  
  .front_page_text{
    width: 90vw;
    text-align: center;
    height: auto;
    min-height: 40vh;
  }
  
  .front_page_text h1{
    font-size: 3rem;
    text-align: center;
  }
  
  .front_page_text p{
    margin: auto;
    width: 95vw;
    font-size: 1.4rem;
    color: white;
    text-align: center;
  }
}