@import "index.css";


/*.body{
  background-image: url("Bilder/bk3.jpg");
}*/

.pokemon_box{
  width: 100%;
  height: 94vh;
}

.folder{
  background-color: rgb(202, 136, 14);
  width: 90%;
  height: 700px;
  margin-top: 100px;
  margin-left: 50px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  filter: drop-shadow(.75em .35em .7em);

}


.top_btn{
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin-top: -29px;
  margin-left: -2px;
  position: absolute;
  border: 0px;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* -----FOLDER TITLE LOGIC------------ */
.folder #top_btn1_no{
  background-color: rgb(129, 86, 7);
  cursor: pointer;
}

.folder #top_btn2_no{
  background-color: rgb(129, 86, 7);
  cursor: pointer;
  margin-left: 150px;
}

.folder #top_btn3_no{
  background-color: rgb(129, 86, 7);
  cursor: pointer;
  margin-left: 302px;
}

.folder #top_btn4_no{
  background-color: rgb(129, 86, 7);
  cursor: pointer;
  margin-left: 453px;
}

.folder #top_btn1_yes{
  background-color: rgb(129, 86, 7);
  margin-left: 0px;
}

.folder #top_btn2_yes{
  background-color: rgb(202, 136, 14);
  margin-left: 151px;
}

.folder #top_btn3_yes{
  background-color: rgb(202, 136, 14);
  margin-left: 302px;
}

.folder #top_btn4_yes{
  background-color: rgb(202, 136, 14);
  margin-left: 453px;
}
/* ------------------------------------------------------------ */

.fag_button{
  width: 95%;
  height: 70%;
  margin-left: 2%;
  padding-top: 10px;
  margin-top: 70px;
  background-image: url("Bilder/paper.jpg");
  background-repeat: round;
  -webkit-user-drag: none;
  border-radius: 20px;
  border: 2px solid black;
  overflow-y:scroll; height:85%;
}

::-webkit-scrollbar {
  display: none;
}

.fag_button button{
  background-color: rgb(161, 158, 158);
  width: 250px;
  height: 150px;
  text-align: center;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  
}

.fag_button button:hover{
  background-color: rgb(151, 150, 150);
}

.fag_button h1{
  font-size: 30px;
}

.fag_button p{
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
  height: 50%;
}

#norsk{background-color: rgb(255, 85, 85);}
#matte{background-color: rgb(63, 134, 240);}
#engelsk{background-color: rgb(204, 195, 76);}
#musikk{background-color: rgb(168, 88, 233)}
#kogh{background-color: rgb(240, 143, 79);}
#natur{background-color: rgb(50, 192, 85);}
#krle{background-color: rgb(226, 43, 217);}
#gym{background-color: rgb(48, 84, 245);}

#norsk:hover{background-color: rgb(255, 105, 105);}
#matte:hover{background-color: rgb(63, 154, 260);}
#engelsk:hover{background-color: rgb(204, 215, 96);}
#musikk:hover{background-color: rgb(168, 108, 253)}
#kogh:hover{background-color: rgb(240, 163, 99);}
#natur:hover{background-color: rgb(50, 212, 105);}
#krle:hover{background-color: rgb(226, 63, 237);}
#gym:hover{background-color: rgb(48, 104, 265);}


@media only screen and (max-height: 800px){
  .folder{
    height: 500px;
  }

  .fag_button{
    margin-top: 40px;
  }
}

@media only screen and (max-width: 550px){

  .folder{
    margin-left: 10px;
    margin-top: 60px;
    width: 90%;
    height: 500px;
  }

  .fag_button{
    height: 92%;
    margin-top: 10px;
  }

  .top_btn{
    width:75px;
    font-size: 15px;
  }

  .folder #top_btn2_no{
    margin-left: 75px;
  }

  .folder #top_btn3_no{
    margin-left: 152px;
  }

  .folder #top_btn2_yes{
    margin-left: 75px;
  }

  .folder #top_btn3_yes{
    margin-left: 152px;
  }
}