@import "index.css";
@import "fagside.css";

.folder #top_btn1{
  background-color: rgb(68, 45, 3);
  cursor: pointer;
}

.folder #top_btn2{
  background-color: rgb(68, 45, 3);
  margin-left: 150px;
  cursor: pointer;

}

.folder #top_btn3{
  background-color: rgb(202, 136, 14);
  margin-left: 302px;
  cursor: pointer;
}


.ark_div{
  background-color: rgb(134, 134, 134);
  width: 95%;
  height: 70%;
  margin-top: 50px;  
  margin-left: 25px;
  display: grid, inline-grid;
  overflow-y:scroll; height:85%;
  border: 2px black solid;
  border-radius: 20px;
}

::-webkit-scrollbar {
  display: none;
}

.iframe {
  width: 190px !important;
  height: 150px !important;
  border-right: 3px black solid;
  }

.hefte_stor{
  background-color: white;
  width: 300px;
  height: 150px;  
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  float: left;
  border: 2px solid black;
}

.hefte_stor img{
  width: 160px;
  height: 100%;
  -webkit-user-drag: none;
}

.hefte_normal{
  background-color: white;
  width: 300px;
  height: 200px;  
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  float: left;
  border: 2px solid black;
}

.hefte_normal img{
  width: 160px;
  height: 100%;
  -webkit-user-drag: none;
}


.hefte_small{
  background-color: white;
  width: 300px;
  height: 120px;  
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  float: left;
  border: 2px solid black;
}

.hefte_small img{
  width: 160px;
  height: 100%;
  -webkit-user-drag: none;
}

