@import "style.css";


.overskrift{
  font-size: 30px;
  margin-bottom: -190px;
}

.ark_div_whole{
  width: 100%;
  height: 100%;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ark_div_part{
  width: 80%;
  height: 100%;
}

.ark_container_div_top{
  background-color: rgb(133, 131, 131);
  width: 100%;
  height: 6%;
  margin: 0,0,0,0;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  border: black 2px solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold;
}


.ark_container_div{
  background-color: rgb(209, 209, 209);
  width: 100%;
  height: 100%;
  margin: 0,0,0,0;
  border: black 2px solid;
  border-top: 0px black solid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; 
  display: grid, inline-grid;
  overflow-y:scroll; height:470px;
}

::-webkit-scrollbar {
  display: none;
}


.hefte{
  border: black 2px solid;
  width: 95%;
  height: 180px;
  margin: 5px;
  background-color: rgb(228, 228, 219);
  text-align: left;
  font-size: 18px;
  float: left;
}


.img{
  width: 150px;
  height: 179px;
  cursor: pointer;
  border-right: black 2px solid;
  border-bottom: black 2px solid;
  margin-right: 3px;
}


.info_om_hefte{
  background-color: rgb(228, 228, 219);
  margin-left: 155px;
  margin-top: -180px;
}

.info_om_hefte h1{
  background-color: rgb(255, 255, 0);
}

.iframe {
  width: 190px !important;
  height: 170px !important;
  border-right: 3px black solid;
  }

.music_hefte{
  border: black 2px solid;
  width: 95%;
  height: 170px;
  margin: 5px;
  background-color: rgb(228, 228, 219);
  text-align: left;
  font-size: 18px;
  float: left;
}

.info_om_musikk{
  margin-left: 195px;
  margin-top: -172px;

}

.musikk_div_part{
  width: 88.5%;
  height: 100%;
}


@media only screen and (min-width: 700px){
  .overskrift{
    margin-top: -120px;
    font-size: 50px;
  }
  
  .ark_div_whole{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .ark_div_part{
    width: 63%;
    height: 100%;
  }
  
  .ark_container_div_top{
    background-color: rgb(133, 131, 131);
    width: 100%;
    height: 6%;
    margin: 0,0,0,0;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    border: black 2px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bold;
  }
  
  
  .ark_container_div{
    background-color: rgb(209, 209, 209);
    width: 100%;
    height: 100%;
    margin: 0,0,0,0;
    border: black 2px solid;
    border-top: 0px black solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    display: grid, inline-grid;
    overflow-y:scroll; height:540px;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  
  .hefte{
    border: black 2px solid;
    width: 350px;
    height: 180px;
    margin: 5px;
    background-color: rgb(228, 228, 219);
    text-align: left;
    font-size: 18px;
    float: left;
  }
  
  
  .img{
    width: 150px;
    height: 179px;
    cursor: pointer;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    margin-right: 3px;
  }
  
  
  .info_om_hefte{
    background-color: rgb(228, 228, 219);
    margin-left: 155px;
    margin-top: -180px;
    width: 180px;
    height: 150px;
  }
  
  .info_om_hefte h1{
    background-color: rgb(255, 255, 0);
  }
  
  .iframe {
    width: 300px !important;
    height: 170px !important;
    border-right: 3px black solid;
    }
  
  .music_hefte{
    border: black 2px solid;
    width: 500px;
    height: 170px;
    margin: 5px;
    background-color: rgb(228, 228, 219);
    text-align: left;
    font-size: 18px;
    float: left;
  }
  
  .info_om_musikk{
    margin-left: 310px;
    margin-top: -172px;
    width: 200px;
    height: 50px;
  }
  
  .musikk_div_part{
    width: 88.5%;
    height: 100%;
  }
}