*{
  margin: 0;
  padding: 0;
}

.body{
  background-color: rgb(255, 255, 255);
  /*background-image: url("Bilder/bk2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;*/
}


/* --------------------  BANNER  ----------------------------- */

.banner{
 background-color: rgb(27, 27, 27);
 width: 100%;
 height: 50px;
 align-items: center;
 display: flex;
}

.banner img{
  width: 280px;
  cursor: pointer;
  border-right: 2px solid rgb(170, 170, 170);
  -webkit-user-drag: none;
}

.banner ul{
  list-style-type: none;
  margin-left: 40px;
  color: white;
  display: flex;
  width: 65%;
  
}

.banner li{  
  margin: auto;
  font-size: 20px;
  padding: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.banner li:hover{
  background-color: rgb(175, 100, 29);
}


li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(175, 100, 29);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: rgb(175, 100, 29);}

.dropdown:hover .dropdown-content {
  display: block;
}

/* --------------------  OVERSKRIFT TING  ----------------------------- */

.header{
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 10px;
}

.header_img{
  width: 70%;
  height: 400px;
  background-image: url("Bilder/header2.jpg");
  background-position: bottom;
  filter: drop-shadow(.75em .35em .7em);
}

.header_color_line{
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------  BUTTONS  ----------------------------- */

.whole_button_div{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button_div{
  width: 50%;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: inline-grid;
}

.button_div_row{
  justify-content: left;
  display: flex;
}

.button{
  width: 200px;
  height: 200px;
  border: solid 2px black;
  border-radius: 10%;
  cursor: pointer;
  margin: 25px;
  margin-bottom: 0;
  filter: drop-shadow(.35em .35em .7em);

}

.button img{
  width: 70px;
  height: 70px;
  margin-top: 25px;
  -webkit-user-drag: none;
}

.button h1{
  color: white;
  font-size: 40px;
}

.button:hover{
  filter: drop-shadow(.75em .75em .7em);
}


#btn1{
  background-color: rgb(255, 85, 85);
}
#btn1:hover{
  background-color: rgb(248, 105, 105);
}


#btn2{
  background-color: rgb(63, 134, 240);
}
#btn2 h1{
  font-size: 35px;
}
#btn2:hover{
  background-color: rgb(63, 154, 260);
}


#btn3{
  background-color: rgb(204, 195, 76);
}
#btn3:hover{
  background-color: rgb(204, 215, 96);
}


#btn4{
  background-color: rgb(168, 88, 233);
}
#btn4:hover{
  background-color: rgb(168, 108, 253);
}


#btn5{
  background-color: rgb(240, 143, 79);
}
#btn5:hover{
  background-color: rgb(240, 163, 99);
}


#btn6{
  background-color: rgb(50, 192, 85);
}
#btn6:hover{
  background-color: rgb(50, 212, 105);
}


#btn7{
  background-color: rgb(226, 43, 217);
}
#btn7:hover{
  background-color: rgb(226, 63, 237);
}


#btn8{
  background-color: rgb(48, 84, 245);
}
#btn8:hover{
  background-color: rgb(48, 104, 265);
}


@media only screen and (max-width: 550px){
  .banner{
    background-color: rgb(0, 0, 0);
    height: 30px;
  }

  .banner img{
    width: 100px;
    visibility: hidden;
  }

  .banner li{
    font-size: 10px;
  }

  .banner ul{
    margin-left: -75px;
  }

  .header_img{
    width: 80%;
    height: 250px;
    margin-top: -130px;
  }

  .button{
    width: 150px;
    height: 150px;
  }

  .button img{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    -webkit-user-drag: none;
  }
  
  .button h1{
    color: white;
    font-size: 30px;
  }

  #btn2 h1{
    font-size: 25px;
  }

  .button_div{
    width: 50%;
    margin-top: -80px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .button_div_row{
    justify-content: left;
    display: grid;
  }
}
