/*SPSING bilder*/

.post_spising{
  width: 220px;
  height: 230px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: white;
  border-radius: 12px;
  display: grid, inline;
  row-gap: 0;
}

.post_spising:hover{
  transform: scale(1.03);
}

.post_spising img{
  width: 220px;
  height: 130px;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0%;
  margin: 0%;
  display: block;
}

.post_spising h1{
  font-size: 18px;
  width: 100%;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background-color: rgb(235, 132, 36);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.text_info{
  width: 150px;
  height: 55px;
  display: flex;
  font-size: 14px;
  margin: auto;
  margin-top: 5px;
}

.text_info_1{
  font-weight: bold;
  margin: auto;
}

.text_info_2{
  margin: auto;
  text-align: left;
}

.text_summary{
  font-size: 15px;
  width: 215px;
  height: 70px;
  margin: auto;
  text-align: center;
  margin-top: 2px;
}