@import "andresider.css";
@import "innhold.css";
@import "ark.css";
@import "spising.css";
@import "videoer.css";
@import "banner.css";
@import "spill.css";
@import "jegser.css";
@import "koghdiv.css";
@import "ark_info.css";

*{
  margin: 0;
  padding: 0;
}

.html, body{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
}

.whole_site{
  width: 100%;
  height: 100%;
  display: grid;
}


/* --------------------  Forsiden ----------------------------- */


.header_img{
  width: 70%;
  height: 350px;
  background-image: url("Bilder/header2.jpg");
  background-position: bottom;
  filter: drop-shadow(.75em .35em .7em);
  margin: auto;
  margin-top: 30px;
}

/* --------------------  BUTTONS  ----------------------------- */
.button_div{
  width: 1100px;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 20px;
  padding-bottom: 60px;
}

.button_div button{
  width: 200px;
  height: 200px;
  border: solid 2px black;
  border-radius: 10%;
  cursor: pointer;
  margin: 25px;
  margin-bottom: 0;
  filter: drop-shadow(.35em .35em .7em);

}

.button_div button img{
  width: 70px;
  height: 70px;
  margin-top: 25px;
  -webkit-user-drag: none;
}

.button_div button h1{
  color: white;
  font-size: 40px;
}

.button_div button:hover{
  filter: drop-shadow(.75em .75em .7em);
  transform: scale(1.02);

}


#btn1{
  background-color: rgb(255, 85, 85);
}
#btn1:hover{
  background-color: rgb(248, 105, 105);
}


#btn2{
  background-color: rgb(63, 134, 240);
}
#btn2 h1{
  font-size: 35px;
}
#btn2:hover{
  background-color: rgb(63, 154, 260);
}


#btn3{
  background-color: rgb(204, 195, 76);
}
#btn3:hover{
  background-color: rgb(204, 215, 96);
}


#btn4{
  background-color: rgb(168, 88, 233);
}
#btn4:hover{
  background-color: rgb(168, 108, 253);
}


#btn5{
  background-color: rgb(240, 143, 79);
}
#btn5:hover{
  background-color: rgb(240, 163, 99);
}


#btn6{
  background-color: rgb(50, 192, 85);
}
#btn6:hover{
  background-color: rgb(50, 212, 105);
}


#btn7{
  background-color: rgb(226, 43, 217);
}
#btn7:hover{
  background-color: rgb(226, 63, 237);
}


#btn8{
  background-color: rgb(48, 84, 245);
}
#btn8:hover{
  background-color: rgb(48, 104, 265);
}


@media only screen and (max-width: 1500px){

  .header_img{
    width: 700px;
    background-size: 90%;
    background-repeat: no-repeat;
    height: 220px;
  }

  .button_div{
    width: 900px;
  }


  .button_div button{
    width: 180px;
    height: 180px; 
  }

  .button_div button h1{
    color: white;
    font-size: 35px;
  }

  #btn2 h1{
    font-size: 30px;
  }
}  

@media only screen and (max-width: 850px){

  .banner img{
    display: none;
  }

  .banner ul{
    width: 100vw;
    margin-left: 0px;
  }

  .banner li{
    font-size: 16px;
    line-height: 50px;
  }

  .content_box{
    width: 450px;
    margin: auto;
    background-color: red;
  }

  .grid_25{
    grid-template-columns: 50% 50%;
  }

  .grid_33{
    grid-template-columns: 50% 50%;
  }

}  