*{
  padding:0;
  margin: 0;
}

.body{
  width: 100%;
  height: 100%;
  background-image: url('Bilder/bg.jpg');
  image-resolution: 100%;
}

.site_box{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.whole_password_box{
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px 2px rgba(0,0,0.5);
  width: 500px;
  height: 400px;
}

.whole_password_box h1{
  text-align: center;
  color: white;
  height: 100px;
  margin-top: 10%;
  text-transform: uppercase;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
}

.input_box{  
  display: flex;
  width: 80%;
  height: 30px;
  border-bottom: 1px solid white;
  margin: auto;
  margin-bottom: 30px;
}

.input_box input{
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  width: 100%
}
::placeholder{
  color: #ccc;
}

.input_box img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  -webkit-user-drag: none;

}

.enter_btn{
  display: flex;
  width: 80%;
  height: 35px;
  margin: auto;
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.enter_btn:hover{
  border: 1px solid rgb(233, 115, 36);;
  color: rgb(233, 115, 36);
  transform: scale(1.05);
}


.hide_pass{
  background-color: transparent;
  border: none;
  width: 28px;
  cursor: pointer;
  -webkit-user-drag: none;
}