
.body{
  display: flex;
  justify-content: center;

}

.backbutton{
  width: 50px;
  height: 30px;
  background-color: #686767;
  color: black;
  position: absolute;
  left: 0;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}

.backbutton:hover{
  background-color: #a7a3a3;
}

.whole_page{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 1500px;
  height: 1000px;
  top: 50%;
  left: 50%;
  margin-left: -750px;
  margin-top: -500px;
}

.hidden{
  visibility: hidden;
  position: absolute;
}

/* Hele boksen med tekst */
.text_box{
  text-align:left;
  background-color: rgb(90, 89, 89);
  width: 800px;
  height: 800px;
  border: 5px solid;
  border-image: repeating-linear-gradient(45deg, rgb(88, 88, 88), white 4%) 1;
  margin-left: 100px;
}

/* Overskrift */
.text_heading{
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: 0px;
}

/* Boksen som inneholder begge bokser med info. sjanger og summary */
.text_box_general_info{
  text-align:left;
  width: 800px;
  height: 150px;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;

}

/* De 2 boksene inni boksen med general info (sjanger, dato osv..) */
.box_inside{
  width: 140px;
}

.box_inside2{
  height: 25px;
  position: relative;
}

/* Boksen med general info (sjanger, dato, osv..) */
.text_box_general_info_content{
  text-align:left;
  background-color: rgb(148, 148, 148);
  width: 320px;
  height: 150px;
  border: 5px solid black;
  position: relative;
  display: flex;
}

/*Boksen ved siden av sjanger boksen. Den med summary av serien*/
.text_box_general_info_content2{
  text-align:left;
  background-color: rgb(148, 148, 148);
  width: 400px;
  height: 150px;
  margin-left: 15px;
  border: 5px solid black;
  position: relative;
}


/* Boksen med info om hva jeg syntes */
.review_text_box{
  margin-top: 30px;
}

/* Vanlig tekst */
.text_genre{
  font-size: 20px;
  color: white;
  margin-left: 10px;
  margin-top: 18px;
}

.text_genre2{
  font-size: 20px;
  color: white;
  margin-left: 10px;
  margin-top: 18px;
  font-weight: 1;
}

.text_sum_title{
  font-size: 17px;
  color: white;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.text_sum_info{
  font-size: 12px;
  color: white;
  margin-left: 5px;
  margin-top: 30px;
}


.text_review{
  font-size: 20px;
  color: white;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
}


.video_class{
  position: absolute;
  margin-left: -900px;
  visibility: hidden;
  background-color: black;
}


/* BILDER -------------------------------------------------------- */

.image{
  width: 850px;
  height: 600px;
}

#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-50%);
  transition: all 150ms ease;
}

#slider #prev {
  left: -9%;
}
#slider #next {
  right: 52%;
}

#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}

.counter_text{
  color: black;
  font-size: 25px;
  background-color: gray;
  width: 35px;
  margin-top: -605px;
  position: absolute;
}