*{
  padding: 0;
  margin: 0;
}

.body{
  background-color: rgb(253, 193, 114);
  
}

.content{
  width: 100vw;
  height: 600px;
  display: grid;
}

.banner{
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
}
 
.banner img{
  width: 250px;
  padding-right: 4px;
  -webkit-user-drag: none;
  pointer-events: none;
}


.dice_div{
  width: 500px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  margin-top:50px;
}

.dice_img{
  margin: auto;
  -webkit-user-drag: none;
  filter: drop-shadow(.25em .45em .4em);
  pointer-events: none;
}

@keyframes MoveUpDown{
  0% {
    transform: translateY(100%);
  }

  10% {
    transform: translateY(-100%);
  }
  20%{
    transform: translateY(0%);
  }
}


.roll_btn{
  margin: auto;
  margin-top: 50px;
  height: 75px;
  width: 150px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  background-color: transparent;
  color:white;
  border: 3px white solid;
}

.roll_btn:hover{
  background-color: rgb(89, 194, 89);
}

.dice_nr_div{
  width: 380px;
  display: flex;
  border: white 1px solid;
  margin-left: 20px;
}

.header_text{
  font-size: 20px;
  color: white;
  margin: auto;
}

.nr_dice_btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px darkgreen solid;
  background-color: rgb(180, 255, 180);
  margin: auto;
  cursor: pointer;
}

.nr_dice_btn:hover{
  background-color: rgb(18, 219, 18); 
}