@import "banner.css";

*{
  padding: 0;
  margin: 0;
  user-select: none;
}

.body{
  background-color: rgb(253, 193, 114);
  
}

.content{
  width: 100vw;
  height: 600px;
  display: grid;
}


.dice_div{
  width: 500px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  margin-top:50px;
}

.dice_img{
  margin: auto;
  width: 150px;
  height: 150px;
  -webkit-user-drag: none;
  filter: drop-shadow(.25em .45em .4em);
}

.shake{
  -webkit-animation: MoveUpDown 1s;
  animation: MoveUpDown 1s;
}

@keyframes MoveUpDown{
  0% {
    transform: translateY(30%);
  }

  10% {
    transform: translateY(-30%);
  }
  20%{
    transform: translateY(0%);
  }
}


.roll_btn{
  margin: auto;
  margin-top: 50px;
  height: 75px;
  width: 150px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  background-color: transparent;
  background-color: rgb(89, 194, 89);
  color:white;
  border: 3px white solid;
}

.roll_btn:hover{
  background-color: rgb(70, 141, 70);
}



@media only screen and (max-width: 600px){
  .banner{
    width: 100vw;
  }
  .banner img{
    display: none;
  }

  .farger{
    margin: auto;
    width: 80px;
  }

  .dices{
    margin: auto;
    width: 80px;
  }

  .dice_nr_div{
    margin: auto;
    width: 130px;
  }

  .dice_div{
    width:100vw;
  }

  .content{
    width:100vw;
  }

  .col_menu{
    margin-left: 0px;
  }

  .dice_menu{
    margin-left: 0px;
  }
}