


.info-page{
  margin: auto;
  margin-top: 300px;
  display: grid;
  gap: 200px;
  padding-bottom: 100px;
  width: 72vw;
}


.info-page-containter-wrapper{
  display: flex;
  flex-wrap: nowrap;
  margin: auto;

}


.info-page-containter{
  width: 50%;
  display: grid;
  margin: auto;
  padding-top: 30px

}


.info-page-containter img{
  margin: auto;
 
}

.line-1{
  box-shadow: -3px 3px 0px var(--color-4);
}

.line-2{
  box-shadow: 3px -3px 0px var(--color-4);
}

.line-3{
  box-shadow: 3px 3px 0px var(--color-4);
  
}

.line-4{
  box-shadow: -3px -3px 0px var(--color-4);
}



.text-box{
  display: block;
  width: auto;
  height: auto;
  color: var(--text-color);
  text-align: left;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
  padding: 25px;
  
}

.text-box h1{
  font-family: var(--text-type);
  font-size: 3.2rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.text-box p{
  font-family: var(--main-text-font);
  font-size: 1.5rem;
  line-height: var(--text-line-height);
}

.about-1{
  height: 320px;
  margin: auto;
  border-radius: 10px;
  margin-right: -10px;
}

.about-2{
  height: 550px;
  margin: auto;
  border-radius: 10px;
}

.about-3{
  height: 300px;
  margin: auto;
  border-radius: 10px;
}

.about-4{
  height: 300px;
  margin: auto;
  margin-left: 25px;
  border-radius: 10px;
}


.shadow-1{
  box-shadow: 7px 7px 7px var(--color-4);
}

.shadow-2{
  box-shadow: -7px 7px 7px var(--color-4);
}

