


.info-page{
  margin: auto;
  margin-top: 300px;
  display: grid;
  gap: 100px;
  padding-bottom: 100px;

}


.info-page-containter-wrapper{
  display: flex;
  flex-wrap: nowrap;
  gap: 0px;
  width: 100%;
}


.info-page-containter{
  width: 800px;
  min-height: 280px;
  display: grid;
  margin: auto;
  background-color: white;
  
}


.info-page-containter img{
  margin: auto;
}


.text-box{
  display: block;
  width: auto;
  height: auto;
  color: var(--text-color);
  text-align: left;
  margin: auto;
  width: 80%;
  padding-bottom: 10px;
}

.text-box h1{
  font-family: var(--text-type);
  font-size: 3.2rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.text-box p{
  font-family: var(--main-text-font);
  font-size: 1.5rem;
  line-height: var(--text-line-height);
}

.about-1{
  height: 300px;
  margin: auto;
}

.about-2{
  height: 550px;
  margin: auto;
}

.about-3{
  height: 300px;
  margin: auto;
}

.about-4{
  height: 350px;
  margin: auto;
}


.shadow-1{
  box-shadow: 0px 0px 0px var(--color-1);
}

.shadow-2{
  box-shadow: -0px 0px 0px var(--color-1);
}

