@import url("intro.css");
@import url("landing.css");
@import url("about.css");
@import url("project.css");

*{
  margin: 0; padding: 0;
  outline: none; border: none;
  font-family: 'Roboto', sans-serif;

}

img{
  pointer-events: none; /* Make images non interactive (not draggable or saveable) */  
  image-rendering: optimizeQuality;
}

:root {
  --color-1: #723d46; /* Page: Om meg     */
  --color-2: #e26d5c; /* Page: Portfolio  */
  --color-3: #c9cba3; /* Page: CV         */
  --color-4: black;   /* Shadows          */

  --color-1: #f3dfa2; /* Page: Om meg     */
  --color-2: #7ebdc2; /* Page: Portfolio  */
  --color-3: #bb4430; /* Page: CV         */
  --color-4: #231f20; /* Shadows          */

  --text-color: black;
  --bg-color: whitesmoke;


  --text-type: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --main-text-font: Arial;
  --font-size-p: 1.3rem;
  --font-size-h1: 2.1rem;
  --text-line-height: 33px;

  --screen_size: 1100;
}

body{
  background-color: var(--color-4);
}



::-webkit-scrollbar {
  width: 0px;
  scrollbar-width: none;
  background: transparent; /* make scrollbar transparent */
}


.hidden{
  opacity: 0;
  filter: blur(6px);
}

.hidden-l{
  transform: translateX(-20%);
}

.hidden-r{
  transform: translateX(+20%);
}

.show{
  transition: 0.3s linear;
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}



