@import url("intro.css");
@import url("landing.css");
@import url("about.css");
@import url("project.css");

*{
  margin: 0; padding: 0;
  outline: none; border: none;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;          /* Safari */        
  -moz-user-select: none;             /* Firefox */
  -ms-user-select: none;              /* IE10+/Edge */
  user-select: none;                  /* Standard */
}

img{
  pointer-events: none; /* Make images non interactive (not draggable or saveable) */  
}

:root {
  --color-1: #723d46;
  --color-2: #e26d5c;
  --color-3: #ffe1a8;
  --color-4: #c9cba3;
  --text-type: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --main-text-font: Arial;
}

body{
  background-color: var(--bg-col);
}



::-webkit-scrollbar {
  width: 0px;
  scrollbar-width: none;
  background: transparent; /* make scrollbar transparent */
}



