


.landing-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row;
}

.page{
  height: 100vh;
  cursor: pointer;
  display: grid;
  transition: width 0.3s linear, height 0s;
  width: 7vw;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  scrollbar-width: none;
}

.title-wrapper{
  margin: auto;
  width: 7vw;
  height: 100vh;
  text-align: center;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: center;
}

.title{
  width: auto;
  font-size: 4em;
  font-weight: bolder;
  writing-mode: vertical-rl;
  text-orientation:mixed;
  transition: 0.2s linear;
  margin: auto;
  line-height: calc(100vw / 15); /* Dynamically set line-height based on parent width */
}

.page.active{
  width: 86vw;
  cursor: default;
  max-width: none;
  display: grid;
  justify-content: center;
  align-items: start;
  text-align: start;
}



.content{
  opacity: 0;
  transition: 0.4s linear;
  display: grid;
}

.page.active .content{
  width: 100%;
  height: 100vh;
  opacity: 100;
  transition: 0.4s linear;
}


.col1{
  background-color: var(--color-2);
}


.col2{
  background-color: var(--color-1);
}

.col3{
  background-color: var(--color-4);
}


.main-button{
  font-size: 1rem;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 width: 140px;
 height: 40px;
 cursor: pointer;
 margin-right: 20px;
 text-decoration: none;
 transition: 0.2s linear;
}



.btn-1{
  background-color: var(--color-4);
  color: var(--color-1);
  border: 4px solid var(--color-1);
}

.btn-2{
  background-color: var(--color-2);
  color: var(--color-3);
  border: 4px solid var(--color-3);
}

.btn-1:hover{
  background-color: var(--color-1);
  color: var(--color-4);
}

.btn-2:hover{
background-color: var(--color-3);
color: var(--color-2);
}
