


.landing-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row;
  background-color: var(--bg-color);
}

.page{
  height: 100vh;
  cursor: pointer;
  display: grid;
  transition: width 0.3s linear, height 0s;
  width: 7vw;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  scrollbar-width: none;
}

.title-wrapper{
  margin: auto;
  width: 7vw;
  height: 100vh;
  text-align: center;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: center;
  -webkit-user-select: none;          /* Safari */        
  -moz-user-select: none;             /* Firefox */
  -ms-user-select: none;              /* IE10+/Edge */
  user-select: none;                  /* Standard */
}


.arrow{
  width: 4vw;
  height: 4vw;
  position: absolute;
  transform: rotate(45deg);
  display: none;
  left: 5vw;
}


.title{
  width: auto;
  font-size: 4em;
  font-weight: bolder;
  writing-mode: vertical-rl;
  text-orientation:mixed;
  transition: 0.2s linear;
  margin: auto;
  line-height: calc(100vw / 15); /* Dynamically set line-height based on parent width */
}

.page.active{
  width: 86vw;
  cursor: default;
  max-width: none;
  display: grid;
  justify-content: center;
  align-items: start;
  text-align: start;
}

.page.active .arrow{
  display: block;
  z-index: -1;
}


.content{
  opacity: 0;
  transition: opacity 0.3s linear;
  display: grid;
}

.page.active .content{
  width: 86vw;
  height: 100vh;
  opacity: 100;
  transition: opacity 0.4s linear;  
  margin-left: 7vw;
}


.col1{
  background-color: var(--color-2);
}


.col2{
  background-color: var(--color-1);
}

.col3{
  background-color: var(--color-3);
}


.main-button{
  font-size: 1rem;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 width: 140px;
 height: 40px;
 cursor: pointer;
 margin-right: 20px;
 text-decoration: none;
 transition: 0.1s linear;
 background-color: transparent;
}


/* Button on CV-Screen */
.btn-1{
  background-color: transparent;
  color: var(--text-color);
  border: 4px solid var(--text-color);
}
.btn-1:hover{
  background-color: var(--color-3);
  color: var(--bg-color);
}


/* Button on CV-Screen */
.btn-2{
  background-color: transparent;
  color: var(--text-color);
  border: 4px solid var(--text-color);
}
.btn-2:hover{
  background-color: var(--color-2);
}





@media (max-width:1650px) {
    .title{
      font-size: 2.9rem;
    } 
}